@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
}
#logo {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.search-form {
    margin-top: 20px;
    display: flex;
    padding: 2rem;
}
.search-form input {
    padding: 0.5rem;
    width: 100%;
    font-size: 2rem;
    border: none;
    border: 2px solid rgb(85, 85, 188);
}

.search-form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(74, 74, 170);
    color: white;
    cursor: pointer;
}

.gallery-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.gallery-info p {
    color: rgb(74, 74, 170);
    font-size: 1.5rem;
}

.gallery-info a {
    color: grey;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 2rem 0rem;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.more {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    border: none;
    color: white;
    background: rgb(74, 74, 170);
    cursor: pointer;
}